<div class="container">
    <h1>Admin manager page:</h1>
    <br>

    <!-- Nav -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pLot-tab" data-toggle="tab" href="#pLot" role="tab" aria-controls="pLot" aria-selected="true">Parking Lots</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="vehicle-tab" data-toggle="tab" href="#vehicle" role="tab" aria-controls="vehicle" aria-selected="false">Personal Vehicles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bm-tab" data-toggle="tab" href="#bm" role="tab" aria-controls="bm" aria-selected="false">Brands and Models</a>
        </li>
    </ul>

    <!-- Nav Content -->
    <div class="tab-content" id="myTabContent">
        <!-- Parking lot Tab -->
        <div href="parkTab" class="tab-pane fade show active" id="pLot" role="tabpanel" aria-labelledby="pLot-tab">
            <br>

            <!-- Lista de parking lots -->
            <div style="text-align: center">
                <h1 style="text-align: center">Parking Lots</h1>
                <hr>
                <div id="targetParkList"></div>
                <hr>
            </div>
            <br>

            <!-- Botoes -->
            <button type="button" id="btnParkNew" class="btn btn-success"><i class="fas fa-plus"></i> Add Park</button>
            <button type="button" id="btnEditingPark" class="btn btn-primary"><i class="fas fa-edit"></i></i> Editing Park...</button>

            <!-- Form -->
            <form action="/admin/savePark" id="formPark" method="POST">
                <br>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" name="parkLot" id="adminParkName" class="form-control" placeholder="Parking Lot Name" required>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <input type="number" name="latitude" step="0.0000001" id="adminParkLat" class="form-control" placeholder="Latitude" required>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <input type="number" name="longitude" step="0.0000001" id="adminParkLon" class="form-control" placeholder="Longitude" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <input type="number" name="lugaresNormal" id="adminPlacesNormal" class="form-control" placeholder="Nº places: Normal" required min="0">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <input type="number" name="lugaresDebelitado" id="adminPlacesDisabled" class="form-control" placeholder="Nº places: Disabled" required min="0">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <input type="number" name="lugaresGravida" id="adminPlacesPregnant" class="form-control" placeholder="Nº places: Pregnant" required min="0">
                        </div>
                    </div>
                </div>
                <input type='hidden' name="id" id='editParkIdHidden' value=''>

                <!-- Cancel/Submit Buttons -->
                <button type="button" id="btnCancelParkNew" class="btn btn-danger">Cancel</button>
                <button type="submit" id="btnParkFormSubmit" class="btn btn-success">Submit</button>
            </form>
        </div>

        <!-- User Tab -->
        <div href="userTab" class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
            <br>
            <!-- Lista de Users -->
            <div style="text-align: center">
                <h1 style="text-align: center">Users</h1>
                <hr>
                <div id="targetUsersList"></div>
                <hr>
            </div>
            <br>

            <!-- Botoes -->
            <button type="button" id="btnUserNew" class="btn btn-success"><i class="fas fa-plus"></i> Add User</button>
            <button type="button" id="btnEditingUser" class="btn btn-primary"><i class="fas fa-edit"></i></i> Editing User...</button>

            <!-- Form -->
            <form action="/admin/saveUser" id="formUser" method="POST">
                <br>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" name="name" id="adminUserName" class="form-control" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="email" name="email" id="adminUserEmail" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="visiblePass"><i class="far fa-eye-slash"></i></span>
                            </div>
                            <input type="password" name="password" id="adminUserPass" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <input type="text" name="postalCode" id="adminUserZip1" class="form-control" placeholder="Postal Code" required pattern="[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" name="address" id="adminUserAddress" class="form-control" placeholder="Address">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <input type="date" name="dateOfBirth" id="adminUserBirth" class="form-control" placeholder="Date of birth" required>
                        </div>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="radio-inline"><input class="adminRadio" type="radio" name="gender" id="adminUserRadioFemale" value="female"> Female</label>
                            <label class="radio-inline"><input class="adminRadio" type="radio" name="gender" id="adminUserRadioMale" value="male"> Male</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <input class="form-check-input" type="checkbox" value="true" name="admin" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">Admin</label>
                        </div>
                    </div>
                </div>
                <input type='hidden' name="id" id='editUserIdHidden' value=''>

                <!-- Cancel/Submit Buttons -->
                <button type="button" id="btnCancelUserNew" class="btn btn-danger">Cancel</button>
                <button type="submit" id="btnUserFormSubmit" class="btn btn-success">Submit</button>
            </form>
        </div>

        <!-- Vehicle Tab -->
        <div href="vehicleTab" class="tab-pane fade" id="vehicle" role="tabpanel" aria-labelledby="vehicle-tab">
            <br>

            <!-- Lista de Users and Personal Vehicles -->
            <div class="row">
                <div class="col-3">
                    <div>
                        <h1 style="text-align: center">Users</h1>
                        <hr>
                        <div id="targetUserVehicleList"></div>
                        <hr>
                    </div>
                </div>

                <div class="col-9">
                    <div>
                        <h1 style="text-align: center">Vehicles</h1>
                        <hr>
                        <div id="targetVehiclesList"></div>
                        <hr>

                        <!-- Botoes -->
                        <button type="button" id="btnVehicleNew" class="btn btn-success"><i class="fas fa-plus"></i> Add vehicle</button>
                        <button type="button" id="btnEditingVehicle" class="btn btn-primary"><i class="fas fa-edit"></i></i> Editing Vehicle...</button>

                        <!-- Form -->
                        <form action="/admin/saveVehicle" id="formVehicle" method="POST">
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="text" name="numberPlate" id="adminVehicleNumberPLate" class="form-control" placeholder="Number plate" required pattern="[A-Z][A-Z]-[0-9][0-9]-[0-9][0-9]|[0-9][0-9]-[0-9][0-9]-[A-Z][A-Z]|[0-9][0-9]-[A-Z][A-Z]-[0-9][0-9]">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="text" name="fuelType" id="adminVehicleFuelType" class="form-control" placeholder="Fuel Type" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="text" name="modelId" id="adminVehicleModelId" class="form-control" placeholder="Model _id" required>
                                    </div>
                                </div>
                            </div>
                            <input type='hidden' name="id" id='editVehicleIdHidden' value=''>
                            <input type='hidden' name="userId" id='saveVehicleUserIdHidden' value=''>

                            <!-- Cancel/Submit Buttons -->
                            <button type="button" id="btnCancelVehicleNew" class="btn btn-danger">Cancel</button>
                            <button type="submit" id="btnVehicleFormSubmit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Brands and Models Tab -->
        <div href="brandTab" class="tab-pane fade" id="bm" role="tabpanel" aria-labelledby="bm-tab">
            <br>

            <!-- Lista de Brands and Models -->
            <div class="row">
                <div class="col-6">
                    <div>
                        <h1 style="text-align: center">Brands</h1>
                        <hr>
                        <div id="targetBrandList"></div>
                        <hr>

                        <button type="button" id="btnBrandNew" class="btn btn-success"><i class="fas fa-plus"></i> Add Brand</button>
                        <button type="button" id="btnEditingBrand" class="btn btn-primary"><i class="fas fa-edit"></i></i> Editing Brand...</button>

                        <!-- Form Brand -->
                        <form action="/admin/saveBrand" id="formBrand" method="POST">
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="text" name="name" id="adminBrandName" class="form-control" placeholder="Name" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <!-- Cancel/Submit Buttons -->
                                    <button type="button" id="btnCancelBrandNew" class="btn btn-danger">Cancel</button>
                                    <button type="submit" id="btnBrandFormSubmit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            <input type='hidden' name="id" id='editBrandIdHidden' value=''>
                        </form>
                    </div>
                </div>

                <div class="col-6">
                    <div>
                        <h1 style="text-align: center">Models</h1>
                        <hr>
                        <div id="targetModelList"></div>
                        <hr>

                        <button type="button" id="btnModelNew" class="btn btn-success"><i class="fas fa-plus"></i> Add Model</button>
                        <button type="button" id="btnEditingModel" class="btn btn-primary"><i class="fas fa-edit"></i></i> Editing Model...</button>

                        <!-- Form Model-->
                        <form action="/admin/saveModel" id="formModel" method="POST">
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="text" name="name" id="adminModelName" class="form-control" placeholder="Name" required>
                                    </div>
                                </div>
                            </div>
                            <input type='hidden' name="brandId" id='saveModelBrandIdHidden' value=''>
                            <input type='hidden' name="modelId" id='editModelIdHidden' value=''>

                            <!-- Cancel/Submit Buttons -->
                            <button type="button" id="btnCancelModelNew" class="btn btn-danger">Cancel</button>
                            <button type="submit" id="btnModelFormSubmit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
