<div class="container-fluid" style=" text-align: center;">
    <!--BARRA VERDE-->
    <div class="row" style="height: 10vh; margin-top: 10px">
        <div class="col-1">
            <i class="fas fa-chevron-circle-left fa-3x txt-green"></i>
        </div>
        <div class="col-10"></div>
        <div class="col-1">
            <i class="fas fa-times-circle fa-3x txt-green"></i>
        </div>
    </div>
    <!--MAPA-->
    <div class="row" style=" height: 75vh;">
        <div class="col-12" style="position:relative;">
            <!--aqui aparece o mapa-->
        </div>
    </div>

    <div class="row bg-green" style="height: 15vh; padding-top:3vh">
        <div class="col-10">
            <input type="text" name="" id="" placeholder="Pesquisar" class="login-input">
        </div>
        <div class="col-1">
            <i class="fas fa-search fas-park"></i>
        </div>
        <div class="col-1">
            <i class="fas fa-filter fas-park"></i>
        </div>
    </div>
</div>
