<div class="container-fluid" style=" text-align: center;">
    <!--MAPA-->
    <div class="row" style=" height: 85vh; width: 100vw">
        <div class="col-12" id="googleMap">
            <!--aqui aparece o mapa-->
        </div>
    </div>
    <!-- Search -->
    <div id="btnSearch" class="row bg-green" style="height: 15vh; padding-top:3vh">
        <div class="col-1">
            <i id="backMain" class="fas fa-chevron-left fas-park" style="font-size: 170%"></i>
        </div>
        <div class="col-9">
            <input type="text" id="lookForPark" placeholder="Pesquisar" style="border-radius: 50px; height:7vh; width:100%">
        </div>
        <div class="col-1">
            <i onclick="lookForPark()" class="fas fa-search fas-park" style="font-size: 200%"></i>
        </div>
    </div>
    <!-- Arrived button -->
    <div id="btnArrived" class="row bg-green" style="height: 15vh; padding-top:3vh">
        <div class="col-6">
            <button class="btn btn-danger" type="button" onclick="leavePark()">Cancel</button>
        </div>
        <div class="col-6">
            <button class="btn btn-success" type="button" onclick="location.replace('/home')">I arrived!</button>
        </div>
    </div>
</div>
