<div class="container-fluid" style=" text-align: center;">
    <!--BARRA VERDE-->
    <div style="height: 10vh">
        <div class="row bg-green">
            <div class="col-12">
                <img src="img/logo.png" height="50vh">
            </div>
        </div>
    </div>
    <!--IMAGEM-->
    <div class="row" style="height: 30vh">
        <div class="col-1"></div>
        <div class="col-10" id="rowImg">
            <a><img class="imagem" src="img/person1.png" style="z-index: -1; border:#A6D785 5px solid; position:relative;"></a>
            <a><img class="imagemMenor" src="img/marca.jpg" style="z-index: 99;border:#A6D785 5px solid;"></a>
        </div>
    </div>
    <div class="row" style="height: 20vh;">
        <div class="col-2"></div>
        <div class="col-8" style="width:100%">
            <h2 id="msgTxt">Hello, <span class="txt-green" style="font-weight:bold;">{{username}}</span></h2>
        </div>
    </div>
    <div id="footer" class="row bg-green" style="height: 40vh;">
        <div class="col-12" style="margin:auto;">
            <button type="button" class="btn bg-white txt-green btn-forma" style="border: solid 3px; margin-bottom:5vh ">Start!</button><br>
            <button type="button" class="btn bg-green txt-white btn-forma" style="border: solid 3px; ">Check Data</button>
        </div>
    </div>
</div>
