<div class="container-fluid" style=" text-align: center;">
    <!--BARRA VERDE-->
    <div style="height: 10vh">
        <div class="row bg-green">
            <div class="col-12">
                <img id="logozinho" src="img/logo.png" height="50vh">
            </div>
        </div>
    </div>
    <!--IMAGEM-->
    <div class="row" style="height: 30vh">
        <div class="col-1"></div>
        <div class="col-10" id="rowImg">
            <img id="imgUser" onclick="" class="imagem" alt="Loading..." src="" style="z-index: -1; border:#A6D785 5px solid; position:relative;">
            <a><img id="imgCar" class="imagemMenor" alt="" src="" style="z-index: 2;border:#A6D785 5px solid;"></a>
        </div>
    </div>
    <div class="row" style="height: 20vh;">
        <div class="col-2"></div>
        <div class="col-8" style="width:100%">
            <h2 id="msgTxt">Hello, <span id="userName" class="txt-green" style="font-weight:bold;"></span></h2>
        </div>
    </div>
    <div id="footer" class="row bg-green" style="height: 40vh;">
        <div class="col-12" style="margin:auto;">
            <button type="button" id="btnStart" class="btn bg-white txt-green btn-forma" style="border: solid 3px; margin-bottom:5vh ">Find Park</button><br>
            <button type="button" id="btnCheckData" class="btn bg-green txt-white btn-forma" style="border: solid 3px; ">Park Charts</button>
        </div>
    </div>
</div>
