<div class="container-fluid" style=" text-align: center; text-align:center">
    <div class="row" style="margin-bottom:6vh">
        <div class="col-2"></div>
        <div class="col-8" style="height:10vh">
            <img src="img/logo.png" height="130%" >
        </div>
    </div>
    <div class="row" style="height:40vh">
        <div class="col-12" style="margin:auto;">
            <input type="text" class="login-input" placeholder="Email" name="" id="" style="margin-bottom:20px"><br>
            <input type="text" class="login-input" placeholder="Palavra-Passe" name="" id="" style="margin-bottom:5px;"><br>
            <label for=""><input type="checkbox" name="" id="">Lembrar mais tarde</label>
        </div>
    </div>
    <div class="row" style="height:20vh">
        <div class="col-1"></div>
        <div class="col-10">
            <button type="button" class="btn bg-green txt-white btn-login">Confirmar</button>
        </div>
    </div>
    <div class="row" style="height:10vh">
        <div class="col-3"></div>
        <div class="col-6">
            <label for="">Não tem conta? <a href="url">Registe-se</a></label>
        </div>
    </div>
</div>
