<div class="container-fluid" style=" text-align: center;">
    <!--BARRA VERDE-->
    <div style="height: 10vh">
        <div class="row bg-green">
            <div class="col-4"></div>
            <div class="col-4">
                <img src="img/logo.png" height="50vh">
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="row" style="height: 10vh; margin-bottom:10vh; margin-top:5%">
        <div class="col-1">
        </div>
        <div class="col-1">
            <a>
                    <img class="img_perfil" src="img/person1.png">
                </a>
        </div>
        <div class="col-10" style="margin:auto">
            <h3 id="nome_perfil">{{username}}</h2>
        </div>
    </div>
    <div style="margin:auto; padding:3vh; border-radius:25%; background-color:white" >
        <div class="row" style="height: 20vh">
            <div class="col-6" style="margin:auto">
                <i class="fas fa-car fas-perfil"></i><br>
                <p>Change Car</p>
            </div>
            <div class="col-6" style="margin:auto" >
                <i class="fas fa-at fas-perfil"></i>
                <p>Change Email </p>
            </div>
        </div>
        <div class="row" style="height:20vh">
            <div class="col-6" style="margin:auto">
                <i class="fas fa-key fas-perfil"></i>
                <p>Change Password</p>
            </div>
            <div class="col-6" style="margin:auto">
                <i class="fas fa-sign-out-alt fas-perfil"></i>
                <p>Logout</p>
            </div>
        </div>
    </div>
</div>
