<body onload="loadUser()">
    <div id="target" name="target"></div>
    <script id="template" type="x-tmpl-mustache">
        Hello {{ name }}!;
    </script>
    <script>
        function loadUser() {
            var template = $('#template').html();
            Mustache.parse(template); // optional, speeds up future uses
            var rendered = Mustache.render(template, {
                cssFiles: css,
                targetInput: html,
                scriptFiles: scripts
            });
            $('#target').html(rendered);
        }
    </script>
</body>

